<div class="row">
  <div class="col-md-6  mt-5 mx-auto">
    <form [formGroup]="loginForm"  (ngSubmit)="login()">

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Enter your email address">

        <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').touched) || loginForm.get('email').dirty" >
                <div *ngIf="loginForm.get('email').getError('required')">This field is Required</div>
                <div *ngIf="loginForm.get('email').getError('email')">This fiels should be email address</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Enter your password">
      </div>

      <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched) || loginForm.get('password').dirty" >
        <div *ngIf="loginForm.get('password').getError('required')">This field is Required</div>
        <div *ngIf="loginForm.get('password').getError('minlength')">This fiels should be 8 caracters</div>
      </div>

      <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block col-md-12 mt-3">Login</button>

    </form>
  </div>
</div>
