<mat-toolbar class="title-toolbar">
    <span class="example-spacer">
      <img src="../assets/imagee/Retro_Vintage_Football_Club_Badge_Logo-removebg-preview.png" width="65" height="1%">
     
    </span>
    <button mat-raised-button (click)="openAddEditEmpForm()">
      ADD Packe
    </button>
</mat-toolbar>
  
  
  
  <div class="main-body">
  
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
  
      
        <ng-container matColumnDef="terraiid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.terraiid}} </td>
        </ng-container>
  
      
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Type </th>
          <td mat-cell *matCellDef="let row"> {{row.type}}</td>
        </ng-container>
  
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
          <td mat-cell *matCellDef="let row"> {{row.adresse}}</td>
        </ng-container>
  
        <ng-container matColumnDef="attitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Attitude </th>
            <td mat-cell *matCellDef="let row"> {{row.attitude}}</td>
        </ng-container>

        <ng-container matColumnDef="descriptuon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descriptuon </th>
            <td mat-cell *matCellDef="let row"> {{row.descriptuon}}</td>
        </ng-container>
  
       
        <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat </th>
            <td mat-cell *matCellDef="let row"> {{row.etat}}</td>
        </ng-container>

        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
            <td mat-cell *matCellDef="let row"> {{row.longitude}}</td>
        </ng-container>
  

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Nom </th>
            <td mat-cell *matCellDef="let row"> {{row.nom}}</td>
        </ng-container>
  
       
        <ng-container matColumnDef="tarif">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarif </th>
            <td mat-cell *matCellDef="let row"> {{row.tarif}}</td>
        </ng-container>

        <ng-container matColumnDef="club">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
            <td mat-cell *matCellDef="let row"> {{row.club.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="zone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Zone </th>
            <td mat-cell *matCellDef="let row"> {{row.zone.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="openEditForm(row)">
                <mat-icon >edite</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEmployee(row.terraiid)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>