<div mat-dialog-title>
    <h1>Ville Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput type="text" placeholder="Ex. Packe" formControlName="nom">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>code Postale</mat-label>
                <input matInput placeholder="Ex. 50" type="number" formControlName="codePostale">
            </mat-form-field>
        </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"  >Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
 </div>
</form>
